pytest
pip
tqdm
-f https://download.pytorch.org/whl/cu102/torch_stable.html
torch==1.9.0+cu102
-f https://download.pytorch.org/whl/cu102/torch_stable.html
torchvision==0.10.0+cu102
pytest-cov
pyyaml
clearml
plotly
scikit-learn
numpy
pandas
matplotlib
pydicom
